.profile {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 2fr;
  height: 100%;
  grid-gap: 1px;
  grid-template-areas: "lists tasks";
}

.lists {
  grid-area: lists;
}

.tasks {
  grid-area: tasks;
  border-radius: 0 5px 5px 0;
}

.tasks,
.lists {
  background-color: var(--transparentBlack);
  padding: 20px;
} 

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title img {
  margin-right: 10px;
}

.chapters {
  margin-bottom: 40px;
}

.chapter {
  border: 1px solid #191919;
  background-color: var(--black);
  border-radius: 8px;
  padding: 15px 25px;
  margin-bottom: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.15) inset;
  font-weight: bold;
}

.chapter:hover {
  box-shadow: 0px 0px 20px 2px rgba(255, 255, 255, 0.08) inset;
  transition: 0.3s;
}

.chapter:active {
  border-color: var(--black);
  box-shadow: 0px 0px 59px 2px rgba(255, 255, 255, 0.08) inset;
}

.chapter img {
  margin-right: 20px;
}

.archive {
  border-top: 1px solid var(--gray);
  padding-top: 20px;
}

.taskForm {
  width: 100%;
  border: 1px solid var(--gray);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 20px;
}

.taskForm:focus {
  background-color: var(--black);
  border-color: transparent;
}

.task {
  display: flex;
  align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid var(--gray);
  font-size: 18px;
}

.taskCheck {
  border-color: red;
  padding: 20px;
  border-color: #0b76ef;
  cursor: pointer;
}

.task label {
  margin-right: 20px;
}