.tasks {
  grid-area: tasks;
  border-radius: 0 5px 5px 0;
  background-color: var(--transparentBlack);
  padding: 20px;
  text-align: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.title img {
  margin-right: 10px;
}

.indicatorIcon {
  margin-top: 60px;
  margin-bottom: 20px;
}

.hint {
  color: var(--gray);
  font-weight: bold;
  line-height: 30px;
}